# Alphabet Soup Charity Funding Predictor -- Deep-Learning

## Preprocessing

In [92]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

* target variable: IS_SUCCESSFUL 
* feature variables: Everything Else

In [93]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [94]:
# Determine the number unique values in each column. 
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [95]:
# Look at APPLICATION_TYPE value counts for binning
application_counts= application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [96]:
list(application_counts[application_counts < 500].index)

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [97]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [98]:
# Look at CLASSIFICATION value counts for binning
classification_counts= application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C5200        1
C1732        1
C1370        1
C2380        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [99]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 777]
# classification_counts[classification_counts < 1]
# list(classification_counts[classification_counts < 1883].index)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [100]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [101]:
ask_amt_counts= application_df['ASK_AMT'].value_counts()
ask_amt_counts

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [102]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
ask_amounts_to_replace = list(ask_amt_counts[ask_amt_counts < 25398].index)

# Replace in dataframe
for amt in ask_amounts_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(amt,"Other")

# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [103]:
# ask_amt_counts[ask_amt_counts==1] # 8595 in this bucket
# ask_amt_counts[ask_amt_counts==2]  # 147 in this bucket
# ask_amt_counts[ask_amt_counts > 2]  # in this bucket there are 4 amounts asked for 3 times and 1 amount asked for 25398 times. 
# I could make this column 2 buskets, one bucket asking $5000.00 a number of 25398 times and 
#  one bucket of other amounts asked for 8746 times. I'll put a pin in this for now. 
# ask_amt_counts[ask_amt_counts<=3]

In [104]:
# application_df[application_df['APPLICATION_TYPE']== 'Other']
# application_df[application_df['CLASSIFICATION']== 'Other']
# application_df.head()
application_df.nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
STATUS                    2
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
ASK_AMT                   2
IS_SUCCESSFUL             2
dtype: int64

In [105]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34295,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34296,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34297,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
34298,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [106]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], 1).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [107]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### Set up a Neural Network Opitmizer to Determine the Best Model to Run

In [108]:
# # Create a method that creates a new Sequential model with hyperparameter options
# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()

#     # Allow kerastuner to decide which activation function to use in hidden layers
#     activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
#     # Allow kerastuner to decide number of neurons in first layer
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#         min_value=1,
#         max_value=10,
#         step=2), activation=activation, input_dim=len(X_train[0])))

#     # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
#     for i in range(hp.Int('num_layers', 1, 6)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#             min_value=1,
#             max_value=10,
#             step=2),
#             activation=activation))
    
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     # Compile the model
#     nn_model.compile(loss="binary_crossentropy", optimizer='adagrad', metrics=["accuracy"])
    
#     return nn_model

In [109]:
# # Import the kerastuner library
# import kerastuner as kt

# tuner = kt.Hyperband(
#     create_model,
#     objective="accuracy",
#     max_epochs=20,
#     hyperband_iterations=2)

In [110]:
# # Run the kerastuner search for best hyperparameters
# tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [111]:
# # Get best model hyperparameters
# best_hyper = tuner.get_best_hyperparameters(1)[0]
# best_hyper.values

In [112]:
# # Evaluate best model against full test data
# best_model = tuner.get_best_models(1)[0]
# model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [113]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 40
hidden_nodes_layer4 = 40
hidden_nodes_layer5 = 40
hidden_nodes_layer6 = 40
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh",))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_28 (Dense)             (None, 40)                1800
_________________________________________________________________
dense_29 (Dense)             (None, 40)                1640
_________________________________________________________________
dense_30 (Dense)             (None, 40)                1640
_________________________________________________________________
dense_31 (Dense)             (None, 40)                1640
_________________________________________________________________
dense_32 (Dense)             (None, 40)                1640
_________________________________________________________________
dense_33 (Dense)             (None, 40)                1640
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 41
=================================================================
Total params: 10,041
Trainable params: 10,041
Non-trainable params: 0
_________________________________________________________________

In [114]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [115]:
#  Create a callback
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback which saves the weights for every 5 epochs
cp_callback= ModelCheckpoint(filepath=checkpoint_path,save_weights_only=True, save_freq=5)

In [116]:
# Train the model
fit_model= nn.fit(X_train_scaled, y_train, epochs=100, verbose=1, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5726 - accuracy: 0.7181
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5578 - accuracy: 0.7295
Epoch 3/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5531 - accuracy: 0.7311
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5512 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7319
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5490 - accuracy: 0.7319
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5478 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7340
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5439 - accuracy: 0.7367
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7363
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 17/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 18/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7374
Epoch 21/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 22/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5393 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5389 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5372 - accuracy: 0.7377
Epoch 34/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7380
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7396
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7402
Epoch 43/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 44/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 47/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 49/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5333 - accuracy: 0.7417
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7408
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5330 - accuracy: 0.7421
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7421
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 58/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 60/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7420
Epoch 65/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7418
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5318 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7421
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 71/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7423
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7422
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7422
Epoch 75/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5316 - accuracy: 0.7426
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5313 - accuracy: 0.7425
Epoch 77/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5311 - accuracy: 0.7424
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7425
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5316 - accuracy: 0.7426
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5318 - accuracy: 0.7412
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5313 - accuracy: 0.7418
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5306 - accuracy: 0.7418
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5311 - accuracy: 0.7435
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5320 - accuracy: 0.7417
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5313 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5316 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5305 - accuracy: 0.7423
Epoch 90/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5304 - accuracy: 0.7428
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5302 - accuracy: 0.7424
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5310 - accuracy: 0.7423
Epoch 93/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5313 - accuracy: 0.7422
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7417
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5304 - accuracy: 0.7416
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5303 - accuracy: 0.7419
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5308 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5305 - accuracy: 0.7427
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5304 - accuracy: 0.7425
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5303 - accuracy: 0.7414

In [117]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5623 - accuracy: 0.7245
Loss: 0.5623190402984619, Accuracy: 0.7245481014251709